.left {
  background-color: red;
  width: 100%;
}

.right {
  background-color: blue;
  width: 100%;
}

.center {
  background-color: green;
}
.first {
  background-color: yellow;
  text-align: center;
}

.yo {
  border: 2px solid black;
}


.pi {
  border: 2px solid blue;
}

.jp {
  border: 2px solid green;
}
